p, a {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  font-family: 'Roboto', sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; 
  color: #42a5f5;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: rgb(255, 255, 255);
}

input[type="text"]{
    font-size:0.8rem;
    padding-left: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.form_input:focus {
  outline: none;
}

input:focus,
input:active {
  background-color: transparent;
}

.App {
  /* background-color: rgb(197, 221, 191); */
  height: 100vh;
  text-align: center;
  padding: 1em;
}

.splash_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.welcome_title{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(156, 156, 156);
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.navigation_main {
  /* background-color: rgb(224, 114, 206); */
}

.navigation_ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  /* background-color: rgb(114, 224, 209); */
  margin-top:2em;
}

.link_wrapper {
  margin: 0.5em;
  /* background-color: rgb(222, 224, 114); */
  padding: 1em;
  cursor: pointer;
}

.menu_icon{
  width: 10vw;
  height: 10vh;
  margin-bottom: 1em;
}

.menu_icon_text {
  color: #42a5f5;
}

.search_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;

  /* background-color: rgb(114, 224, 138); */
}

.search_main{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  height: auto;
  padding: 0.2em;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
}

.form_input {
  height: 2.5em;
  width: 100%;
  background-color: transparent;
  /* border: 1.5px solid #ececec; */
}

.button_find {
  border-radius: 3px;
  color:white;
  background-color: #42a5f5;
  border:  none;
  cursor: pointer;
  padding: 0.7em;
  font-size: 0.7rem;
}

.movie_item_list_wrapper {
  height: 50vh;
  padding: 0.2em;
  overflow-y: scroll;
  margin-top: 1em;
  background-color: rgb(230, 230, 230);
}

.empty_list_wrapper{
  padding: 2em;
  margin-top: 1em;
  background-color: rgb(245, 245, 245);
}

.empty_list_text{
  color: rgb(209, 209, 209);
}

.movie_item_wrapper {
  height: auto;
  padding: 0.2em;
  /* background-color: rgb(215, 114, 224); */
  margin-top:0.2em;
}

.movie_item {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 0.2em;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.movie_poster_wrapper{
  width: 4em;
  height: auto;
  overflow: hidden;
}

.movie_poster{
  width: 100%;
  height: auto; 
}

.movie_info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: space-between;
  justify-content: left;
  padding-left: 0.3em;
  /* background-color: rgb(37, 211, 153); */
  text-align: left;
}

.movie_info_span_header {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  margin-bottom:0.2em;
}

.movie_info_span {
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
}

.movie_info_text {
  font-size: 0.7rem;
  font-weight: normal;
  color: rgb(100, 100, 100);
}

.movie_info_text_small{
  font-size: 0.5rem;
  font-weight: normal;
  color: rgb(117, 117, 117);
}

.movie_info_text_extra_small{
  padding: 0.2em;
  text-align: center;
  font-size: 0.4rem;
  font-weight: normal;
  color: rgb(255, 255, 255);
  background-color: #9ebcc7ff;
  border-radius: 3px;
}

.text_loading{
  font-size: 0.7rem;
  font-weight: lighter;
  color: rgb(194, 194, 194);
}

.movie_title_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  padding: 0.5em;
}

.rating_star {
   width: 2em;
   height: auto;
   cursor: pointer;
}

 /* Mobile screen */
 @media (min-width: 320px) and (max-width: 480px) {

  .welcome_title{
    font-size: 1.5rem;
  }

  .movie_info_span_header {
    font-size: 0.7rem;
  }
  
  .movie_info_span {
    font-size: 0.5rem;
  }
  
  .movie_info_text {
    font-size: 0.5rem;
  }

  .movie_poster_wrapper{
    width: 3em;
    height: auto;
    overflow: hidden;
  }

}

